<% include header %>
<body onload="createChart()">
    <div class="container">
        <h1 class="page-header">Chart.js</h1>
        <div class="row">
            <% include nav %>
            <!-- chart -->
            <div class="col-md-10">
			<canvas id="animationChart" width="700" height="400"></canvas>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    function createChart() {
        <%
            var year=new Array();
            var num1=new Array();
            var num2=new Array();
            for ( var i = 0 ; i < data.length ; i++){
                    year[i] = data[i].year;
                    num1[i] = data[i].num1;
                    num2[i] = data[i].num2;
            } %>
        var ctx = document.getElementById("animationChart").getContext("2d");
        var animationChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [<%=year%>],
                datasets: [{
                    label: '已看',
                    data: [<%=num1%>]
                },{
                    label: '未看',
                    data: [<%=num2%>],
                    backgroundColor: '#ff6384'
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true
                        }]
                }
            }
        });
    }
</script>
</body>
<% include footer %>